<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_bank) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_banks_list), spree.admin_banks_path, :class => 'btn btn-primary' %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bank } %>

<%= form_for [:admin, @bank] do |f| %>
  <div class="alpha ten columns" data-hook="admin_banks_fields">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:banks)%></legend>
      <%= render :partial => 'form', :locals => { :f => f } %>
    </fieldset>
  </div>
  <div class="clear"></div>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
