<% if bank_transfer_payment = @order.payments.from_bank_transfer.first %>
  <fieldset data-hook="payment_reference_details" class="no-border-bottom">
    <legend align="center"><%= Spree.t(:payment_reference_details) %></legend>
    <table class="index" data-hook="admin_payment_reference_details" style="width:86%">
      <tr class="odd">
        <td width="35%">
          <strong><%= Spree.t(:deposited_on) %></strong>
        </td>
        <td>
          <%= bank_transfer_payment.deposited_on %>
        </td>
      </tr>
      <tr class="even">
        <td>
          <strong><%= Spree.t(:bank_name) %></strong>
        </td>
        <td>
          <%= bank_transfer_payment.bank_name %>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <strong><%= Spree.t(:account_name) %></strong>
        </td>
        <td>
          <%= bank_transfer_payment.account_name %>
        </td>
      </tr>
      <tr class="even">
        <td>
          <strong><%= Spree.t(:account_no) %></strong>
        </td>
        <td>
          <%= bank_transfer_payment.account_no %>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <strong><%= Spree.t(:transaction_reference_no) %></strong>
        </td>
        <td>
          <%= bank_transfer_payment.transaction_reference_no %>
        </td>
      </tr>
      <tr class="even">
        <td>
          <strong><%= Spree.t(:receipt_img) %></strong>
        </td>
        <td>
          <% unless bank_transfer_payment.receipt_img.blank? %>
            <a  class="image-popup-no-margins" href=" <%= bank_transfer_payment.receipt_img.url(:medium) %>" >
             <%= image_tag bank_transfer_payment.receipt_img.url(:thumb), :class => "img-polaroid" %>
          <% end %>
        </td>
      </tr>
    </table>
 </fieldset>
<% end %>
